[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "decentralized_services/chains/ztaxi/zksync-era"]
	path = decentralized_services/chains/ztaxi/zksync-era
	url = @https://github.com/matter-labs/zksync-era
[submodule "decentralized_services/zksync-era"]
	path = decentralized_services/zksync-era
	url = @https://github.com/matter-labs/zksync-era
[submodule "decentralized_services/era-observability"]
	path = decentralized_services/era-observability
	url = @https://github.com/matter-labs/era-observability
